body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.navbar {
    background-color: #a36f53;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    height: 60px;
    width: 60px;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.username {
    margin-left: 10px;
    text-align: center;
    font-weight: bold;
    color: #fff;
}

.user-info span {
    margin-left: 10px;
}

.dropdown {
    position: relative;
    margin-left: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
}

.mobile-nav {
    display: none;
    flex-direction: column;
    background-color: #a36f53;
    padding: 10px;
    width: 100%;
}

.mobile-nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    border-bottom: 1px solid #d4a373;
}

.mobile-nav a:last-child {
    border-bottom: none;
}

#titulo {
    text-align: center;
}

.error-message {
    color: red !important;
}

.error-border {
    border: 1px solid red !important ;
}
/* Estilo para dispositivos móviles */
@media (max-width: 768px) {
    .hamburger {
        display: block; /* Mostrar ícono de hamburguesa */
    }

    /* Ocultar los elementos de la barra de navegación en pantallas pequeñas */
    .navbar .user-info,
    .navbar form,
    .navbar .btn {
        display: none; /* Ocultar los campos de la barra de navegación */
    }

    .mobile-nav.active {
        display: flex; /* Mostrar el menú móvil solo cuando se active */
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar form {
        margin-top: 10px;
        width: 100%;
    }

    .navbar .btn {
        margin-top: 10px;
        width: 100%;
    }

    .mobile-nav a {
        padding: 12px;
        text-align: center;
    }

    /* Asegurarse de ocultar los inputs en la vista móvil cuando no se activa el menú */
    .mobile-nav input {
        display: block; /* Asegura que los inputs estén disponibles solo en el menú móvil */
    }
}

